.App {
    background-color: black;
    width: 100%;
    height: 750px;
  }
  .Bout{
    color:'#F08080';
    border-color: "#FFC261";
  }
  .bstyle{
    background-Color: '#FFCC66';
      padding:'35px 30px';
      margin:'70px';
  }
  
  .com
    {text-align: "center";
      border-Style:'solid' ;
       border-Radius: "25px";
       width: "1000px";
      height: "180px";
      margin-Top: "40px";
      margin-Bottom:"30px";
      border-Top-Width: "3px";
      border-Right-Width: "3px";
      border-Left-Width: "3px";
      border-Bottom-Width: "3px";
       padding-Top: "50px";
     margin:"auto"; 
      border-Color: "white";
  }
